{
  "presets": [["es2015",
    {
      "targets":{
      "browsers": ["last 2 versions", "IE >= 9"]
    }
    
  }], ["stage-0"]
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "add-module-exports",
    "lodash"
  ]
}
